body{
    background-color: black;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
}
.div1{
    height: 100px;
    width: 100%;
    position: absolute;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
    margin-top: -20px;
    font-family:'Times New Roman', Times, serif;
}
@keyframes colorChange{
    0%{
color: black;    }
    50%{
        color: red;
    }
}
.d1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#h11{
    font-weight:5px;
    text-shadow: 4px 5px 6px skyblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: brown;

}

.h22{
    margin-left:165px;
    margin-top:0px;
}
.timkiem{
    width: 300px;
    height:30px ;
    border-radius: 5px;
    margin-left: 110px;
    border: none;
}
.fa-solid.fa-magnifying-glass{
    margin-left: -50px;
   font-size: 16px;
   size: 20px;
}
.fa-solid.fa-magnifying-glass{
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 25px;
    cursor: pointer;
    transition: Background-color 0.3s,width 0.3s;
    
}
#title{
 justify-content: center;
}
a{
    display: flex;
    display: inline;
    justify-content: space-between;
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    
 }
.div2{
    margin-top: 80px;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(103, 101, 101);
}
.movi img{
    padding: 0px 0px 0px 20px;
    margin-top: 200px;
   border-radius: 10px;
}
.movi{
    color: white;
    font-size: 15px;
    text-align: center;
    padding-left: 20px;
    display: inline-block;

}
.text{
    margin-left: 20px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
